<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body style="margin: 0; padding: 0; background-color: #f4f4f4; color: black; font-family: 'Tahoma', sans-serif; height: 30%; display: flex; justify-content: center; align-items: center;">
    <table cellpadding="0" cellspacing="0" border="0" width="100%" style="max-width: 600px; margin: 140px auto; background-color: #ffffff; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); padding: 20px 30px; ">
        <tr>
            <td style="padding: 5px;">
                <div class="email-header" style="text-align: center; padding: 5px 0;">
                    <h3 style="margin: 0; color: black;">Bureau of Jail Management and Penology Region III - Point of Sales</h3>
                    <h5 style="margin: 0; margin-top: 5px; font-family: serif; color: black;">"Changing Lives, Building a Safer Nation"</h5>
                </div>
                <div class="email-body" style="padding: 20px; color: #333333;">
                    <p style="color: black;">We received your request to change your password. Please follow this link to reset your password.</p>
                    <a href="{{domain}}/reset-pass?resettoken={{token}}" target="_blank" style="text-decoration: none; cursor: pointer;">
                        <button class="reset-button" style="display: inline-block; padding: 10px 20px; background-color: #10069f;color: #fff;border: none;border-radius: 5px;cursor: pointer;width: 100%;">Reset Password</button>
                    </a>
                    <br>
                    <p style="color: black;">Best regards,<br><b>BJMPRO-III</b></p>
                </div>
                <div class="email-footer" style="text-align: center; padding: 5px 0;">
                    <p style="color: black;">&copy;{{year}} Bureau of Jail Management and Penology Region III. All rights reserved.</p>
                </div>
            </td>
        </tr>
    </table>
</body>
</html>
